// Add Fonts Fonts

@font-face {
    font-family: 'Abril Display Bold';
    src: url('../fonts/Abril_Display_Bold.otf') format("opentype"),
}

@font-face {
    font-family: 'Rubik Regular';
    src: url('../fonts/Rubik-Regular.ttf') format('truetype'),
}