.resetmp {
    margin: 0;
    padding: 0;
}

.bg-gradient {
    background: rgb(45, 119, 22);
    background: -moz-linear-gradient(0deg, rgba(45, 119, 22, 1) 0%, rgba(69, 168, 38, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(45, 119, 22, 1) 0%, rgba(69, 168, 38, 1) 100%);
    background: linear-gradient(0deg, rgba(45, 119, 22, 1) 0%, rgba(69, 168, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d7716", endColorstr="#45a826", GradientType=1);
}